<h1>Book List</h1>
<table border="3" class="center">
    <tr>
        <td>Title</td>
        <td>Publication Date</td>
        <td>Published</td>
        <td>Category</td>
        <td>Author</td>
        <td>Actions</td>       
    </tr>
    {% for a in book %}
    <tr>
   
    <td>{{a.title}}</td>
    <td>{{a.PublicationDate|date('F j, Y')}}</td>
    <td>{{a.published}}</td>
    <td>{{a.category}}</td>
    <td>{{a.author.username}}</td>
    <td><a href="{{path('editbook',{'id':a.ref})}}">Edit</a>
        <a href="{{path('deletebook',{'id':a.ref})}}">Delete</a>
        <a href="{{ path('showbyidauthor', {'ref': a.ref}) }}">Show</a></td>
    
    
    </tr>
    
   {% endfor %}

 
    </table>

    

<p style="text-align:center">Number of Published Books: {{ publishedCount }}</p>
<p style="text-align:center">Number of Unpublished Books: {{ unpublishedCount }}</p>
<p style="text-align:center">Number of Fiction Books: {{ total }}</p>


<table class="center" cellspacing="3" cellpadding="5">
    <tr>
    <td><a href="{{ path('addformbook') }}"><p style="text-align:center">Add Book    </p></a></td>
    
    <td><a href="{{ path('deleteZeroBooks') }}"><p style="text-align:center">Delete Authors with 0 books</p></a></td>
      
    <td><a href="{{ path('book2023') }}"><p style="text-align:center">Show Book 2023</p></a></td>
    <td><a href="{{ path('updateCategory') }}"><p style="text-align:center">Update William</p></a></td>
</tr>
</table>
    <style>
        h1 {
          text-align: center;
        }
        .center {
  margin-left: auto;
  margin-right: auto;
}
        </style>